<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <div th:insert="~{inclusions :: bootstrap}"></div>

    <title>Работа мечты</title>
</head>
<body>
<div class="container">
    <div th:insert="~{navigation :: navigator}"></div>
    <div class="row pt-3">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Новая вакансия.
            </div>
            <div class="card-body">
                <form th:action="@{/createPost}" method="POST" th:object="${post}">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <input type="hidden" name="id" th:field="*{localDateTime}"/>
                    <div class="form-group">
                        <label for="name">Название вакансии</label>
                        <input type="text" class="form-control" name="name" id="name" th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label for="description">Описание вакансии</label>
                        <input type="text" class="form-control" name="description" id="description" th:field="*{description}">
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>