<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <div th:insert="~{inclusions :: bootstrap}"></div>

    <title>Работа мечты!</title>
</head>
<body>
<div class="container">
    <div th:insert="~{navigation :: navigator}"></div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Описание</th>
                <th scope="col">Опубликовано</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post: ${posts}">
                <td th:text="${post.id}"/>
                <td>
                    <a th:href="@{|/formUpdatePost/${post.id}|}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <span th:text="${post.name}"></span>
                </td>
                <td th:text="${post.description}"/>
                <td th:text="${#temporals.format(post.localDateTime,'hh:mm:ss dd-MM-yyyy')}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>